<div class='panel panel-primary'>  
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>Link</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor='let link of links'>
                        <td>
                            <a {{ link.linkUrl}}>
                            {{ link.linkDescription }}
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>