<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <pp-grade [grade]=12 >Loading...</pp-grade>
        <pp-grade [grade]=11 >Loading...</pp-grade>
        <pp-grade [grade]=10 >Loading...</pp-grade>
        <pp-grade [grade]=9 >Loading...</pp-grade>

        <!--<div class="table-responsive">
            <h2>9th Grade</h2>
            <table class="table" *ngIf="classes && classes.length">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Class</th>
                        <th>Final Average</th>
                        <th>Letter Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let class of classes  | gradeFilter: 9'  >
                        <td>{{ class.grade }}</td>
                        <td>{{ class.className }}</td>
                        <td>{{ class.finalAverage }}</td>
                        <td>{{ class.letterGrade }}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->

    </div>
</div>