<div class='panel panel-primary'>  

    <!-- Header record with icon -->
    <pp-header [pageName]="pageName"></pp-header>

    <div class='panel-body'>
    
        <!-- Confirm dialog if user cancels edit -->
        <p-confirmDialog width="425"></p-confirmDialog>

        <!-- Add new row button - This works fine -->
        <div *ngIf="_spDataService.canEdit()">
            <span class="btn-group">
                <button id="popup" type="button" class="btn addbutton">
                    <i class="fa fa-plus-circle fa-lg addbutton" aria-hidden="false" (click)="addRow()">&nbsp;Add New Link</i> 
                </button>
            </span>
        </div> 

        <!-- Data rows -->
        <div class="table-responsive">
            <table class="table" *ngIf="_spDataService.links && _spDataService.links.length">
                <tbody>
                    <tr *ngFor='let link of _spDataService.links'>
                        <td style="width: 30%">
                            <a href="{{ link.linkurl }}" target="_blank">{{ link.linkname }}</a>
                        </td>
                        <td>
                            {{ link.linkdescription }}                            
                        </td>
                        <td> <!-- Delete and edit buttons -->
                            <pp-editButtons [idField]="link.id" (onEditRow)="editRow($event, link)" (onDeleteRow)="deleteRow($event)"></pp-editButtons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Add/Edit Popup -->
        <p-dialog [(visible)]="linkpopupvisible" modal="modal" responsive='true' width="550">
            <p-header style="background-color: #326eb7" >
                {{ linkpopuphdr }}
            </p-header>

            <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" class="ui form">
                <div class="container">
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Link Name:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'linkname' placeholder="Enter Link Name (Required)" style="width:100%; padding: 6px"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1" ><b>Link Descriptions:</b></div>
                        <div class="col col-sm-4" ><input type="text" formControlName = 'linkdescription' placeholder="Enter Link Description (Required)" style="width:100%; padding: 6px"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1" ><b>Link Url:</b></div>
                        <div class="col col-sm-4" ><input type="text" formControlName = 'linkurl' placeholder="Enter the Url for the Link (Required)" style="width:100%; padding: 6px"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-5">
                            <button type="submit" [disabled]="!form.valid" class="ui button">Submit</button>
                            <button type="reset" class="ui button" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>

    </div>
</div>