<div class='panel panel-primary'>  
    <pp-header [myprofile]='myprofile' [pageName]="pageName"></pp-header>
    <div class='panel-body'>
        <div class="table-responsive">
            <table class="table" *ngIf="links && links.length">
                <tbody>
                    <tr *ngFor='let link of links'>
                        <td style="width: 30%">
                            <a href="{{ link.linkurl }}" target="_blank">{{ link.linkname }}</a>
                        </td>
                        <td>
                            {{ link.linkdescription }}                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>