<div *ngIf="_spDataService.bbprofile">
    <!-- Buttons -->
    <div class="row" style="padding: 0px 0px 10px 0px" *ngIf="_spDataService.canEdit()">
        <div class="col col-sm-5">
            <button type="submit" class="ui button">Change Picture</button>
            <button type="submit" class="ui button" (click)="onEditClicked()" *ngIf="!editing">Edit Profile</button>
        </div>
    </div>

    <!-- Data in read only state -->
    <div class='row'>
        <div class="column col-sm-3">
            <img class="img-responsive" [src]="statsPicUrl" alt="No pictures to show" >
        </div>
        <div class="column col-sm-9">
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Student Name:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.myprofile.firstname + ' ' + _spDataService.myprofile.lastname }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>High School:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.myprofile.highschoolname }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Graduation Year:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.myprofile.graduationyear }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Height, Weight::</b></div>
                    <div class="col col-sm-2">{{ _spDataService.myprofile.height + ', ' + _spDataService.myprofile.weight }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Best 60 Time:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.bbprofile.runningtime }}</div>
                    <div class="col col-sm-2"><b>Location:</b></div>
                    <div class="col col-sm-2"><a href="{{ _spDataService.bbprofile.runningtimelocationurl }}" target="_blank">{{ _spDataService.bbprofile.runningtimelocation }}</a></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Primary Position:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.bbprofile.position }}</div>
                    <div class="col col-sm-2"><b>Other Positions:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.bbprofile.otherpositions }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>B/T:</b></div>
                    <div class="col col-sm-2">{{ _spDataService.bbprofile.bats }}/{{ _spDataService.bbprofile.throws }}</div>
                </div>
                <div class="row" style="padding: 0px 0px 0px 0px">
                    <div class="col col-sm-2"><b>Travel Team:</b></div>
                    <div class="col col-sm-2"><a href="{{ _spDataService.bbprofile.travelurl }}" target="_blank">{{ _spDataService.bbprofile.travelteam }}</a></div>
                </div>
        </div>
    </div>

    <!-- Add/Edit Popup -->
    <popup #physPopup>
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" class="ui form">
            <div class="container">
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Best 60 Time:</b></div>
                    <div class="col col-sm-3"><input type="text" formControlName = 'runningtime' placeholder="Best 60 Time" style="width:100%; padding: 6px"></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Location:</b></div>
                    <div class="col col-sm-3"><input type="text" formControlName = 'runningtimelocation' placeholder="Location" style="width:100%; padding: 6px"></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Location Url:</b></div>
                    <div class="col col-sm-3"><input type="text" formControlName = 'runningtimelocationurl' placeholder="Location Url" style="width:100%; padding: 6px"></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Bats:</b></div>
                    <div class="col col-sm-3"><p-dropdown [options]="_spDataService.getRLList()" formControlName="bats" [style]="{'width':'100%'}"></p-dropdown></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Throws:</b></div>
                    <div class="col col-sm-3"><p-dropdown [options]="_spDataService.getRLList()" formControlName="throws" [style]="{'width':'100%'}"></p-dropdown></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Primary Position:</b></div>
                    <div class="col col-sm-3"><p-dropdown [options]="positionList" formControlName="position" (onChange)="onPrimaryPositionChanged()" [style]="{'width':'100%'}"></p-dropdown></div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Other Positions:</b></div>
                    <div class="col col-sm-3">
                        <p-multiSelect [options]="otherPositionList" formControlName="selectedpositions" [style]="{'width':'100%'}"></p-multiSelect>   
                    </div>
                </div>
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col col-sm-2"><b>Travel Team:</b></div>
                    <div class="col col-sm-3"><input type="text" formControlName = 'travelteam' placeholder="Travel Team" style="width:100%; padding: 6px"></div>
                </div>                
                <div class="row" style="padding: 0px 0px 0px 0px">
                    <div class="col col-sm-2"><b>Travel Team Url:</b></div>
                    <div class="col col-sm-3"><input type="text" formControlName = 'travelurl' placeholder="Travel Team Url" style="width:100%; padding: 6px"></div>
                </div>                
                <div class="row" style="padding: 6px">
                    <div class="col col-sm-5">
                        <button type="submit" [disabled]="!form.valid" class="ui button">Submit</button>
                        <button type="reset" class="ui button" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </popup>

</div>