<div *ngIf="_spDataService.bbprofile">
    <div class='panel panel-primary'>
        <pp-header [pageName]="pageName"></pp-header>
        <div class='panel-body'>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Personal Details" [selected]="true" >
                    <pp-physical>Loading...</pp-physical>
                </p-accordionTab>
                <div *ngIf="_spDataService.coaches && _spDataService.coaches.length">
                    <p-accordionTab header="My coaches">
                        <pp-coaches>Loading...</pp-coaches>
                    </p-accordionTab>
                </div>
                <div *ngIf="_spDataService.hittingcategories && _spDataService.hittingcategories.length">
                    <div *ngFor='let thiscategory of _spDataService.hittingcategories'>
                        <p-accordionTab header="{{ thiscategory.category }}">
                            <pp-statcategory [hittingcategory]='thiscategory'></pp-statcategory>
                        </p-accordionTab>
                    </div>
                </div>
            </p-accordion>
        </div>
    </div>
</div>
    