<div class="table-responsive">
    <table border="1" class="table" *ngIf="hittingcategory.categorylist && hittingcategory.categorylist.length">
        <thead>
            <tr>
                <th>Date</th>
                <th class="col-xs-2">Opponent</th>
                <th pTooltip="Plate Appearances">PA</th>
                <th pTooltip="Strike Outs">SO</th>
                <th pTooltip="Walks">BB</th>
                <th pTooltip="Hit By Pitch">HBP</th>
                <th pTooltip="Sacrifice Flys">SF</th>
                <th pTooltip="Sacrifice Bunts">SH</th>
                <th pTooltip="Singles">1B</th>
                <th pTooltip="Doubles">2B</th>
                <th pTooltip="Triples">3B</th>
                <th pTooltip="Home Runs">HR</th>
                <th pTooltip="Runs Batted In">RBI</th>
                <th pTooltip="Runs Scored">RS</th>
                <th pTooltip="Stolen Bases">SB</th>
                <th pTooltip="Official At Bats">AB</th>
                <th pTooltip="Total Bases">TB</th>
                <th pTooltip="Total Hits">H</th>
                <th pTooltip="Batting Average">AVG</th>
                <th pTooltip="On Base Percentage">OBP</th>
                <th pTooltip="Slugging">SLG</th>
                <th pTooltip="On Base plus Sluggin">OPS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let hit of hittingcategory.categorylist' >
                <td>{{ hit.dateplayed | dateFormat }}</td>
                <td>{{ hit.teamplayed }}</td>
                <td>{{ hit.plateappearances }}</td>   
                <td>{{ hit.strikeouts }}</td>   
                <td>{{ hit.walks }}</td>  
                <td>{{ hit.hitbypitch }}</td>  
                <td>{{ hit.sacflys }}</td>  
                <td>{{ hit.sacbunts }}</td>  
                <td>{{ hit.singles }}</td>  
                <td>{{ hit.doubles }}</td>  
                <td>{{ hit.triples }}</td>  
                <td>{{ hit.homeruns }}</td>  
                <td>{{ hit.runsbattediin }}</td>  
                <td>{{ hit.runsscored }}</td>  
                <td>{{ hit.stolenbases }}</td>  
                <td>{{ hit.atbats }}</td>
                <td>{{ hit.totalbases }}</td>
                <td>{{ hit.hits }}</td>
                <td>{{ hit.battingaverage | number : '1.3-3' }}</td>
                <td>{{ hit.onbasepercentage | number : '1.3-3' }}</td>
                <td>{{ hit.slugging | number : '1.3-3' }}</td>
                <td>{{ hit.onbaseplusslugging | number : '1.3-3' }}</td>
            </tr>
            <tr style="font-weight: bold">
                <td colspan="2" style="text-align: center">Totals</td>
                <td>{{ hittingcategory.categorytotals.plateappearances }}</td>   
                <td>{{ hittingcategory.categorytotals.strikeouts }}</td>   
                <td>{{ hittingcategory.categorytotals.walks }}</td>  
                <td>{{ hittingcategory.categorytotals.hitbypitch }}</td>  
                <td>{{ hittingcategory.categorytotals.sacflys }}</td>  
                <td>{{ hittingcategory.categorytotals.sacbunts }}</td>  
                <td>{{ hittingcategory.categorytotals.singles }}</td>  
                <td>{{ hittingcategory.categorytotals.doubles }}</td>  
                <td>{{ hittingcategory.categorytotals.triples }}</td>  
                <td>{{ hittingcategory.categorytotals.homeruns }}</td>  
                <td>{{ hittingcategory.categorytotals.runsbattediin }}</td>  
                <td>{{ hittingcategory.categorytotals.runsscored }}</td>  
                <td>{{ hittingcategory.categorytotals.stolenbases }}</td>  
                <td>{{ hittingcategory.categorytotals.atbats }}</td>
                <td>{{ hittingcategory.categorytotals.totalbases }}</td>
                <td>{{ hittingcategory.categorytotals.hits }}</td>
                <td>{{ hittingcategory.categorytotals.battingaverage | number : '1.3-3' }}</td>
                <td>{{ hittingcategory.categorytotals.onbasepercentage | number : '1.3-3' }}</td>
                <td>{{ hittingcategory.categorytotals.slugging | number : '1.3-3' }}</td>
                <td>{{ hittingcategory.categorytotals.onbaseplusslugging | number : '1.3-3' }}</td>
            </tr>
        </tbody>
    </table>
</div>