<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class="table-responsive">
            <table class="table" *ngIf="schedItems && schedItems.length">
                <thead>
                    <tr>
                        <th style="width: 20%">Event</th>
                        <th style="width: 5%">DoW</th>
                        <th style="width: 10%">Date</th>
                        <th style="width: 10%">Time</th>
                        <th>Type</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let schedItem of schedItems | upcomingdates: "activitydate"' >   
                        <td *ngIf="!schedItem.linkText">
                            {{ schedItem.activitydesc | tbdFormat }}
                        </td>
                        <td *ngIf="schedItem.linkText && schedItem.linkText != ''">
                            <a href="https://maps.google.com?q= + {{ schedItem.location }}" target="_blank">{{ schedItem.activitydesc | tbdFormat }}</a>
                        </td>
                        <td>{{ schedItem.activitydate | dowFormat }}</td>
                        <td>{{ schedItem.activitydate | dateFormat }}</td>
                        <td>{{ schedItem.starttime | tbdFormat }}</td>
                        <td>{{ schedItem.activitytype }}</td>

                        <td *ngIf="!schedItem.linkText">
                            {{ schedItem.linkText | tbdFormat }}
                        </td>
                        <td *ngIf="schedItem.linkText && schedItem.linkText != ''">
                            <a href="https://maps.google.com?q= + {{ schedItem.location }}" target="_blank">{{ schedItem.linkText | tbdFormat }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>