<div class='panel panel-primary'>

    <!-- Header record with icon -->
    <pp-header [pageName]="pageName"></pp-header>

    <div class='panel-body'>

        <p-confirmDialog width="425"></p-confirmDialog>

        <!-- Add new row button - This works fine -->
        <div *ngIf="_spDataService.canEdit()">
            <span class="btn-group">
                <button id="popup" type="button" class="btn addbutton">
                    <i class="fa fa-plus-circle fa-lg addbutton" aria-hidden="false" (click)="addRow()">&nbsp;Add New Event</i>
                </button>
            </span>
        </div>

        <!-- Data rows -->
        <div class="table-responsive">
            <table class="table" *ngIf="_spDataService.schedItems && _spDataService.schedItems.length">
                <thead>
                    <tr>
                        <th style="width: 20%">Event</th>
                        <th style="width: 5%">DoW</th>
                        <th style="width: 10%">Date</th>
                        <th style="width: 10%">Time</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let schedItem of _spDataService.schedItems | upcomingdates: "activitydate"' >   <!-- | upcomingdates: "activitydate" -->
                        <td *ngIf="!schedItem.location">
                            {{ schedItem.activitydesc | tbdFormat }}
                        </td>
                        <td *ngIf="schedItem.location && schedItem.location != ''">
                            <a href="https://maps.google.com?q= + {{ schedItem.location }}" target="_blank">{{ schedItem.activitydesc | tbdFormat }}</a>
                        </td>
                        <td>{{ schedItem.activitydate | dowFormat }}</td>
                        <td>{{ schedItem.activitydate | dateFormat }}</td>
                        <td>{{ schedItem.starttime | tbdFormat }}</td>
                        <td>{{ schedItem.activitytype }}</td>

                        <td *ngIf="!schedItem.location">
                            {{ schedItem.venue | tbdFormat }}
                        </td>
                        <td *ngIf="schedItem.location && schedItem.location != ''">
                            <a href="https://maps.google.com?q= + {{ schedItem.location }}" target="_blank">{{ schedItem.venue | tbdFormat }}</a>
                        </td>

                        <td>
                            <pp-editButtons [idField]="schedItem.id" (onEditRow)="editRow(schedItem.id, schedItem)" (onDeleteRow)="deleteRow($event)"></pp-editButtons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Add/Edit Popup -->
        <p-dialog [(visible)]="schedpopupvisible" modal="modal" responsive='true' width="550" [draggable]=false>
            <p-header style="background-color: #326eb7" >
                {{ schedpopuphdr }}
            </p-header>

            <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" class="ui form">
                <div class="container">
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Activity:</b></div>
                        <div class="col col-sm-4"><p-dropdown [options]="_spDataService.getActivityList()" formControlName="activityid" [style]="{'width':'100%'}"></p-dropdown></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Type:</b></div>
                        <div class="col col-sm-4"><p-dropdown [options]="_spDataService.getActivityTypeList()" formControlName="activitytypeid" [style]="{'width':'100%'}"></p-dropdown></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Event:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'activitydesc' placeholder="Enter Activity Description (Required)" style="width:100%; padding: 6px;"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Venue:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'venue' placeholder="Enter the Venue (Required)" style="width:100%; padding: 6px;"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Address:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'address' placeholder="Enter the Venue address" style="width:100%; padding: 6px;"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>City:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'city' placeholder="Enter the city" style="width:100%; padding: 6px;"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>State:</b></div>
                        <div class="col col-sm-4"><p-dropdown [options]="_spDataService.getStatesList()" formControlName="statecode" [style]="{'width':'100%'}"></p-dropdown></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Zipcode:</b></div>
                        <div class="col col-sm-4"><input type="text" formControlName = 'zipcode' placeholder="Enter the zipcode" style="width:100%; padding: 6px;"></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Date:</b></div>
                        <div class="col col-sm-4"><p-calendar formControlName = 'activitydate' placeholder="Enter the date of the event (Required)" [style]="{'width':'100%'}" [showIcon]="true"></p-calendar></div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-1"><b>Time:</b></div>
                        <div class="col col-sm-4">
                            <p-dropdown [options]="_dateService.getHours()" formControlName="hours" [style]="{'width':'15%'}"></p-dropdown>
                            <p-dropdown [options]="_dateService.getMinutes()" formControlName="minutes" [style]="{'width':'15%'}" ></p-dropdown>
                            <p-dropdown [options]="_dateService.getAMPM()" formControlName="ampm" [style]="{'width':'15%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row" style="padding: 6px">
                        <div class="col col-sm-5">
                            <button type="submit" [disabled]="!form.valid" class="ui button">Submit</button>
                            <button type="reset" class="ui button" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
    </div>
</div>