<!--site navigation-->
<div class='navbar navbar-default navbar-static-top' role="navigation">
    <div class='container-fluid'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class='navbar-brand' routerLink="">{{ pageTitle }}</a>  
        </div>

        <p class="navbar-text" *ngIf="_authService.isLoggedIn()"><b style="color: green; font-size: medium" >Welcome back {{ _authService.getProfileName() }}!</b></p>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-right: 1%">
                <li><a routerLink= "{{ _authService.curUserLink }}" *ngIf="_authService.isLoggedIn()">My Profile</a></li>
                <li><a routerLink="register" *ngIf="!_authService.isLoggedIn()"><b style="color: red; font-size: medium" >Click here to create your free profile!</b></a></li>
                <li><a routerLink="login" *ngIf="!_authService.isLoggedIn()">Log In</a></li>
                <li><a routerLink="logout" *ngIf="_authService.isLoggedIn()">Log Out</a></li>
                <li><a routerLink="feedback">Feedback</a></li>
                <li><a routerLink="about">About</a></li>
            </ul>
        </div>
    </div>
</div>

<!--site body-->
<div class='container-fluid'>
    <router-outlet></router-outlet>
</div>
