<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body" >
        <form [formGroup]="form" (ngSubmit)="register()" class="ui form">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
               
                        <!-- User Name -->
                        <tr><td><div class="col-sm-12"><b>User Name:</b></div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" formControlName = 'profilename' placeholder="Enter your desired user name (Required)" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>
               
                        <!-- Email -->
                        <tr><td><div class="col-sm-12"><b>Email:</b></div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" formControlName = 'primaryemail' placeholder="Enter your email address (Required)" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>

                        <!-- Password -->
                        <tr><td><div class="col-sm-12"><b>Password:</b></div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="password" formControlName = 'password' placeholder="Enter your password (Required)" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>
               
                        <!-- Password Match-->
                        <tr><td><div class="col-sm-12"><b>Password Validation:</b></div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="password" formControlName = 'passwordval' placeholder="Please reenter Your password (Required)" style="width:100%; padding: 6px 12px;">  
                            <small style="color: red" [hidden]="form.controls.password.value ==form.controls.passwordval.value">
                                    Passwords do not match.
                            </small>
                        </div></td></tr>

                        <!-- Role -->
                        <tr><td><div class="col-sm-12"><b>Are you a student or a coach?</b></div></td></tr>
                        <tr><td><div class="col-sm-12"> 
                            <p-selectButton [options]="roles" formControlName='selectedrole'></p-selectButton>
                        </div></td></tr>

                        <!-- Actions -->
                        <tr>
                            <td>
                                <div class="col-sm-1"><button type="submit" [disabled]="!form.valid && !(form.controls.password==form.controls.passwordval)" class="ui button">Register</button></div>  
                                <div class="col-sm-1"><a [routerLink]="['/login']" class="btn btn-link">Login</a></div>
                                <div class="col-sm-2"><a [routerLink]="['/forgotpw']" class="btn btn-link">Forgot Password?</a></div>
                                <div class="col-sm-1"><a [routerLink]="['/forgotusername']" class="btn btn-link">Forgot User Name?</a></div>
                            </td>
                        </tr>           

                    </tbody>
                </table> 
            </div> 
        </form> 
    </div>
</div>

