<div class='panel panel-primary'>
    <pp-header [pageName]="pageName"></pp-header>
    <div class='panel-body'>
        <p-accordion [multiple]="true">
            <p-accordionTab header="Test Scores/GPA" [selected]="true">
                <pp-testscores>Loading...</pp-testscores>
            </p-accordionTab>
            <p-accordionTab header="12th Grade">
                <pp-grade [grade]=12>Loading...</pp-grade>
            </p-accordionTab>
            <p-accordionTab header="11th Grade">
                <pp-grade [grade]=11>Loading...</pp-grade>
            </p-accordionTab>
            <p-accordionTab header="10th Grade">
                <pp-grade [grade]=10>Loading...</pp-grade>
            </p-accordionTab>
            <p-accordionTab header="9th Grade">
                <pp-grade [grade]=9> Loading...</pp-grade>
            </p-accordionTab>
            <p-accordionTab header="Extra Curricular Activities">
                <pp-extracurricular> Loading...</pp-extracurricular>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
    