<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='myprofile'>
                <tbody>
                    <tr>   
                        <td style="width: 120px">Profile Id</td><td>{{ myprofile.id }}</td>
                    </tr>
                    <tr>   
                        <td style="width: 120px">Name</td><td>{{ myprofile.firstName + ' ' + myprofile.lastName }}</td>
                    </tr>
                    <tr>   
                        <td style="width: 120px">Primary Email</td><td>{{ myprofile.primaryEmail }}</td>
                    </tr>
                    <tr>   
                        <td style="width: 120px">High School</td><td>{{ myprofile.highSchoolName }}</td>
                    </tr>
                    <tr>   
                        <td style="width: 120px">Graduation Year</td><td>{{ myprofile.graduationYear }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>