<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >

    <div>
        <span class="btn-group">
            <button id="popup" type="button" class="btn addbutton">
                <i class="fa fa-plus-circle fa-lg addbutton" aria-hidden="false" (click)="addRow()">&nbsp;Add New Link</i> 
            </button>
        </span>
    </div> 


    <p-fileUpload name="myfile[]" url="http://localhost:64425/api/StudentProfile/PostProfilePicture/1" 
        (onBeforeSend) ="onBeforeSend($event)"
        accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="toolbar"></ng-template>  
    </p-fileUpload>

    </div>
</div>