<div class="wrapper" *ngIf="bbprofile">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>
        <div class='panel-body'>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Personal Details" [selected]="true">
                    <pp-physical [myprofile]='myprofile' [bbprofile]='bbprofile'   >Loading...</pp-physical>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
    