<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <p-dialog header="Contact Status" [(visible)]="display" modal="modal" responsive='true'>
            {{ dialogContent }}
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" class="button" pButton icon="fa-close" (click)="hideDialog()" label="Close"></button>
                </div>
            </p-footer>
        </p-dialog>
        <div class="table-responsive" *ngIf="myprofile.displayaddrandphone == 1" >
            <b>Home Address:</b>
            <table class="table">
                <tbody>
                        <tr><td><div class="col-sm-12">  
                            {{ myprofile.firstName + ' ' + myprofile.lastName }}<br>
                            {{ myprofile.streetaddress1 }}<br>
                            <div *ngIf="myprofile.streetaddress2">{{ myprofile.streetaddress2 }}<br></div>
                            {{ myprofile.city + ', ' + myprofile.state + ' ' + myprofile.zip }}<br>
                            {{ myprofile.phone | phoneFormat }}<br>
                            {{ myprofile.primaryEmail }}
                        </div></td></tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" *ngIf="myprofile.displayaddrandphone == 0" >
            <b>Home Address:</b>
            <table class="table">
                <tbody>
                        <tr><td><div class="col-sm-12">For security reasons I chose not to display my home phone and address.  Please use the form below to contact me.</div></td></tr>
                </tbody>
            </table>
        </div>        
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ui form">
            <div class="table-responsive">
            <b>Send me a message:</b>
                <table class="table">
                    <tbody>
                        <tr><td><div class="col-sm-12">  
                            <b>Name:</b>
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" formControlName = 'contactname' placeholder="Enter Your Name (Required)" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <b>Phone Number:</b>
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" formControlName = 'contactphone' placeholder="Enter Phone Number" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <b>Email:</b>
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" formControlName = 'contactemail' placeholder="Enter Email Address (Required)" style="width:100%; padding: 6px 12px;">  
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <b>Message:</b>
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">  
                            <textarea rows="5" formControlName = 'message' class="form-control" placeholder="Type your message here (Required)" style="width:100%; padding: 6px 12px;"></textarea>	
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">
                            <p-captcha id="captcha" class="g-recaptcha" siteKey="6LcyIBgUAAAAADQIhTzBmP2btfEMrWdabI7AhgJn" (onResponse)="showResponse($event)"></p-captcha>
                        </div></td></tr>
                        <tr><td><div class="col-sm-12">
                            <button type="submit" [disabled]="!(form.valid && reCaptchaValid)" class="ui button">Submit</button>  
                        </div></td></tr>
                    </tbody>
                </table> 
            </div> 
        </form>  
    </div>
</div>

