<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                {{ pageTitle }}
                <hr />
            </div>
        </div> 
    </div> 
</div> 





<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>

        <div class="table-responsive" *ngIf="myprofile.displayaddrandphone == 1" >
            <b>Home Address:</b>
            <table class="table">
                <tbody>
                        <tr><td><div class="col-sm-12">  
                            {{ myprofile.firstName + ' ' + myprofile.lastName }}<br>
                            {{ myprofile.streetaddress1 }}<br>
                            <div *ngIf="myprofile.streetaddress2">{{ myprofile.streetaddress2 }}<br></div>
                            {{ myprofile.city + ', ' + myprofile.state + ' ' + myprofile.zip }}<br>
                            {{ myprofile.phone | phoneFormat }}<br>
                            {{ myprofile.primaryEmail }}
                        </div></td></tr>
                </tbody>
            </table>
        </div>
        <form #ngIf="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
            <div class="table-responsive">
            <b>Send me a message:</b>
                <table class="table">
                    <tbody>
                        <tr><td><div class="col-sm-12">  
                            <input type="text" id="nameInput" placeholder="Enter Your Name" name="name" required style="width:100%; padding: 6px 12px;" ngModel >  
                        </div></td></tr>

                        <tr><td><div class="col-sm-12">  
                                    <input type="text" id="phoneInput" placeholder="Enter Phone Number" name="phone" required style="width:100%; padding: 6px 12px;" ngModel>  
                        </div></td></tr>

                        <tr><td><div class="col-sm-12">  
                                    <input type="text" id="emailInput" placeholder="Enter Email Address" name="email" required style="width:100%; padding: 6px 12px;" ngModel>  
                        </div></td></tr>

                        <tr><td><div class="col-sm-12">  
                            <textarea rows="5" class="form-control" id="messageInput" name="message" placeholder="Type your message here" required style="width:100%; padding: 6px 12px;" ngModel></textarea>	
                        </div></td></tr>

                        <tr><td><div class="col-sm-12">
                                <button type="submit" class="ui button">Submit</button>  
                        </div></td></tr>
                    </tbody>
                </table> 
            </div> 
        </form>  
    </div>
</div>

