<div class="panel panel-primary">
    <div class="wrapper">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
                <ul class="nav" id="menu">
                    <li><a [routerLink]="['/studentprofile/videos']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Videos</span></a></li>
                    <li><a [routerLink]="['/studentprofile/picture']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Pictures</span></a></li>
                    <li><a [routerLink]="['/studentprofile/academics']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Academics</span></a></li>
                    <li><a [routerLink]="['/studentprofile/schedule']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Schedule</span></a></li>
                    <li><a [routerLink]="['/studentprofile/links']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Links</span></a></li>
                    <li><a [routerLink]="['/studentprofile/profile']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">My Profile</span></a></li>
                    <li><a [routerLink]="['/studentprofile/contactme']"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Contact Me</span></a></li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-9 col-xs-11" id="main">

                <!--<p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>-->
                <!--<div class='panel-heading'>
                    {{pageTitle}}
                    <pp-academics></pp-academics>
                    <pp-schedule></pp-schedule>
                    <pp-contactme>Loading...</pp-contactme>
                </div>-->

                <div class='panel-body'>
                    <router-outlet></router-outlet>
                    Body
                </div>

            </div>
            <!-- /main -->
        </div>
    </div>
</div>
