<div class="wrapper" *ngIf="myprofile">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="column col-sm-1 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('videos')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Videos</span>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('pictures')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Pictures</span>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('academics')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Academics</span>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('schedule')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Schedule</span>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('links')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Links</span>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('stats')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Stats</span>
                    </button>
                </li>
                
                <li>
                    <button type="button" class="btn btn-link" (click)="setVisibleComponent('contactme')">
                        <i class="fa fa-list"></i> <span class="collapse in hidden-xs">Contact Me</span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="column col-sm-11 col-xs-11" id="main">
            <div *ngIf="componentToShow === 'videos'">
                <pp-videos [myprofile]='myprofile'>Loading...</pp-videos>
            </div>

            <div *ngIf="componentToShow === 'pictures'">
                <pp-pictures [myprofile]='myprofile'>Loading...</pp-pictures>
            </div>

            <div *ngIf="componentToShow === 'academics'">
                <pp-academics [myprofile]='myprofile'>Loading...</pp-academics>
            </div>

            <div *ngIf="componentToShow === 'schedule'">
                <pp-schedule [myprofile]='myprofile'>Loading...</pp-schedule>
            </div>

            <div *ngIf="componentToShow === 'links'">
                <pp-links [myprofile]='myprofile'>Loading...</pp-links>
            </div>

            <div *ngIf="componentToShow === 'profile'">
                <pp-profile [myprofile]='myprofile'>Loading...</pp-profile>
            </div>

            <div *ngIf="componentToShow === 'contactme'">
                <pp-contactme [myprofile]='myprofile'>Loading...</pp-contactme>
            </div>
        </div>
        <!-- /main -->
    </div>
</div>
