<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <p-tree [value]="videoService.videoData" selectionMode="single" [(selection)]="videoService.selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
                    </div>
                    <div class="col-md-9">
                        <div id="fullPlayer" (mouseup)="videoService.dragStop($event)" (mousemove)="videoService.dragMove($event)" (mouseleave)="videoService.dragStop($event)">
                            <div class="embed-responsive embed-responsive-16by9">
                                
                                <video id="videoDisplay" (click)="videoService.playVideo()" class="embed-responsive-item"></video>

                                <div id="bigPlayButton" [ngClass]="{'fade-out':videoService.isPlaying}" class="fader" (click)="videoService.playVideo()"><i class="fa fa-play"></i></div>
                                
                                <div id="videoTitle" [ngClass]="{'fade-out':videoService.isPlaying}" class="fader">{{videoService.currentTitle}}</div>
                                
                                <video-options [ngClass]="{'fade-out':!videoService.showDetails}" class="fader"></video-options>
                            </div>
                            <video-progress></video-progress>
                            <video-toolbar></video-toolbar>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
