<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand' [routerLink]="['/studentprofile']">{{ pageTitle }}</a>            
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/studentprofile']">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            </ul>
        </div>
    </nav>
    <div class='container-fluid'>
        <router-outlet></router-outlet>
    </div>
</div>


<!--<div>
    <pp-studentprofile></pp-studentprofile>

    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand' [routerLink]="['/welcome']">{{pageTitle}}</a>            
            <ul class = 'nav navbar-nav'>                                
                <li><a [routerLink]="['/academics']">Academics</a></li>
                <li><a [routerLink]="['/links']">Links</a></li>
                <li><a [routerLink]="['/contactme']">Contact Me</a></li>
                <li><a [routerLink]="['/schedule']">Schedule</a></li>
                <li><a [routerLink]="['/profile']">My Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>-->