<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class="table-responsive" *ngIf="_spDataService.myprofile.displayaddrandphone == 1" >
            <b>Home Address:</b>
            <table class="table">
                <tbody>
                        <tr><td><div class="col-sm-12">  
                            {{ _spDataService.myprofile.firstname + ' ' + _spDataService.myprofile.lastname }}<br>
                            {{ _spDataService.myprofile.streetaddress1 }}<br>
                            <div *ngIf="_spDataService.myprofile.streetaddress2">{{ _spDataService.myprofile.streetaddress2 }}<br></div>
                            {{ _spDataService.myprofile.city + ', ' + _spDataService.myprofile.state + ' ' + _spDataService.myprofile.zip }}<br>
                            {{ _spDataService.myprofile.phone | phoneFormat }}<br>
                            {{ _spDataService.myprofile.primaryemail }}
                        </div></td></tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" *ngIf="_spDataService.myprofile.displayaddrandphone == 0" >
            <b>Home Address:</b>
            <table class="table">
                <tbody>
                        <tr><td><div class="col-sm-12">For security reasons I chose not to display my home phone and address.  Please use the form below to contact me.</div></td></tr>
                </tbody>
            </table>
        </div>   
        <pp-messageform [panelMessage]='panelMessage' (onFormSubmit)="onSubmit($event)" ></pp-messageform>
    </div>
</div>

