<div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>
        <div class='panel-body'>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Test Scores/GPA" [selected]="true">
                    <pp-testscores [myprofile]='myprofile'>Loading...</pp-testscores>
                </p-accordionTab>
                <p-accordionTab header="12th Grade">
                    <pp-grade [grade]=12 [classes]='classes'>Loading...</pp-grade>
                </p-accordionTab>
                <p-accordionTab header="11th Grade">
                    <pp-grade [grade]=11 [classes]='classes'>Loading...</pp-grade>
                </p-accordionTab>
                <p-accordionTab header="10th Grade">
                    <pp-grade [grade]=10 [classes]='classes'>Loading...</pp-grade>
                </p-accordionTab>
                <p-accordionTab header="9th Grade">
                    <pp-grade [grade]=9 [classes]='classes'> Loading...</pp-grade>
                </p-accordionTab>
                <p-accordionTab header="Extra Curricular Activities">
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
    