<div class="container">
    <div class='row'>
        <div class="column col-sm-3">
            <img class="img-responsive" src="/data/pictures/takingsigns.jpg" alt="No pictures to show" >
        </div>
        
        <div class="table-responsive">
            <table class="table-condensed">
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                </colgroup>

                <tr><td><b>Student Name:</b></td><td>{{ myprofile.firstName + ' ' + myprofile.lastName }}</td><td></td></tr>
                <tr><td><b>High School:</b></td><td>{{ myprofile.highschoolname }}</td><td></td></tr>
                <tr><td><b>Graduation Year:</b></td><td>{{ myprofile.graduationYear }}</td><td></td></tr>
                <tr><td><b>GPA:</b></td><td>{{ myprofile.gpa }}</td><td></td></tr>
                <tr><td><b>SAT Test Date:</b></td><td>{{ myprofile.sattestdate | date: 'MM/dd/yyyy' }}</td><td><b>Score:</b> {{ myprofile.satscore }}</td></tr>
                <tr><td><b>ACT Test Date/Score:</b></td><td>{{ myprofile.acttestdate }}</td><td><b>Score:</b> {{ myprofile.actscore }}</td></tr>
                <tr><td colspan="3"></td></tr>
                <tr><td colspan="3"><b>Personal Statement</b></td></tr>
                <tr><td colspan="2">{{ myprofile.additionalInfo }}</td></tr>
            </table>
        </div>
        
    </div>
</div>
